---

const { title, favicon="/favicon.svg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-gradient-to-r from-orange-400 to-rose-600 h-20">
		</header>
		<menu class="bg-orange-400 bg-gradient-to-r from-orange-400 to-rose-600 flex text-white pb-2">
			<li>
				<a href="/" class=" block px-2 hover:bg-white/25">Inicio</a>
			</li>
			<li>
				<a href="/quienes-somos" class=" block px-2 hover:bg-white/25">Quienes somos</a>
			</li>
			<li>
				<a href="/organigrama" class=" block px-2 hover:bg-white/25">Organigrama</a>
			</li>
			<li>
				<a href="/noticias" class=" block px-2 hover:bg-white/25">Noticias</a>
			</li>
			<li>
				<a href="/contacto" class=" block px-2 hover:bg-white/25">Contacto</a>
			</li>
		</menu>
		
		<slot />
	</body>
</html>

<style is:global >
	@font-face {
  font-family: 'myfont';
  src: url('/fonts/TradeWinds-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

</style>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
